{{> adminTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>PI Partner Database</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">PI Partner Database</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="/assets/img/employer.png" alt="Profile" class="rounded-circle">
                        <h2 class="text-capitalize mb-3">PI Partner Database</h2>
                        <h3>Private Industry Partners</h3>

                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'add')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#add-company">Add
                                    Partner</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'edit')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#edit-company">Edit
                                    Partner</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'all')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#all-company">All
                                    Partners</button>
                            </li>

                        </ul>

                        <div class="tab-content pt-2">

                            {{!-- Add Company Tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'add')}}show active{{/if}} add-company pt-3"
                                id="add-company">
                                <div class="card">
                                    <div class="card-body pt-3">
                                        <form method="POST" action="/admin/addCompany">
                                            {{!-- employer First Name --}}
                                            <div class="row mb-3">
                                                <label for="companyName"
                                                    class="col-md-4 col-lg-3 col-form-label">Company
                                                    Name</label>
                                                <div class="col-md-8 col-lg-9">
                                                    <input name="companyName" type="text"
                                                        class="form-control text-capitalize" id="companyName">
                                                </div>
                                            </div>

                                            {{!-- employer Facility --}}
                                            <div class="row mb-3">
                                                <label for="facility"
                                                    class="col-md-4 col-lg-3 col-form-label">Facility</label>
                                                <div class="col-md-8 col-lg-9">

                                                    <select required name="facility" id="facility" class="form-select"
                                                        aria-label="Facility Options">
                                                        <option selected value="">Select Facility:
                                                        </option>
                                                        <option value="El Dorado">El Dorado</option>
                                                        <option value="Ellsworth">Ellsworth</option>
                                                        <option value="Hutchinson">Hutchinson</option>
                                                        <option value="Lansing">Lansing</option>
                                                        <option value="Larned">Larned</option>
                                                        <option value="Norton">Norton</option>
                                                        <option value="Topeka">Topeka</option>
                                                        <option value="Winfield">Winfield</option>
                                                        <option value="Wichita">Wichita</option>

                                                    </select>

                                                </div>
                                            </div>
                                            <hr>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary mx-2">Add PI
                                                    Partner</button>
                                            </div>
                                        </form>
                                        {{#if addMsg}}
                                            <hr>
                                            <p class="text-success text-center fst-italic mt-3">Company successfully
                                                added.
                                            </p>
                                        {{/if}}
                                        {{#if addErr}}
                                            <hr>
                                            <p class="text-danger text-center fst-italic mt-3">Company already exists
                                                with this name.
                                            </p>
                                        {{/if}}

                                    </div>
                                </div>
                            </div>

                            {{!-- Edit Existing Company Tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'edit')}}show active{{/if}} edit-company
                                pt-3" id="edit-company">
                                <div class="card">
                                    <div class="card-body pt-3">
                                        {{!-- Company Search Bar --}}
                                        <div class="row mb-3">
                                            <label for="searchCompanyName"
                                                class="col-md-4 col-lg-3 col-form-label">Search
                                                Company</label>
                                            <div class="col-md-8 col-lg-9">
                                                <div class="search-bar">
                                                    <form class="search-form d-flex align-items-center" method="POST"
                                                        action="/admin/searchCompanyName">

                                                        <div class="input-group">
                                                            <select required name="companyID" id="companyList"
                                                                class="form-select text-capitalize"
                                                                aria-label="Select Company">
                                                                <option selected value="">Select Company:
                                                                </option>
                                                                {{#each companies}}
                                                                    <option class="text-capitalize"
                                                                        value="{{this._id}}">
                                                                        {{this.companyName}}
                                                                    </option>
                                                                {{/each}}
                                                            </select>
                                                            <!-- Search Button -->
                                                            <button class="btn btn-primary" type="submit"
                                                                id="searchButton" title="Search">
                                                                <i class="bi bi-search"></i>
                                                                <!-- Bootstrap Search Icon -->
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- End Search Bar -->
                                        {{#if saveMsg}}
                                            <hr>
                                            <p class="text-success text-center fst-italic mt-3">Your edits have been
                                                saved
                                                successfully.
                                            </p>
                                        {{/if}}
                                        {{#if deleteMsg}}
                                            <hr>
                                            <p class="text-danger text-center fst-italic mt-3">Company has been deleted.
                                            </p>
                                        {{/if}}


                                        {{#if companyFound}}
                                            <!--=============== Edit Company Form =========================== -->
                                            <hr>
                                            <form method="POST" action="/admin/saveCompanyEdit">
                                                {{!-- Company First Name --}}
                                                <div class="row mb-3">
                                                    <label for="companyName"
                                                        class="col-md-4 col-lg-3 col-form-label">Company
                                                        Name</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <input name="companyName" type="text"
                                                            class="form-control text-capitalize" id="companyName"
                                                            value="{{companyFound.companyName}}">
                                                    </div>
                                                </div>
                                                <input type="hidden" name="id" value="{{companyFound._id}}">

                                                {{!-- Company Facility --}}
                                                <div class="row mb-3">
                                                    <label for="facility"
                                                        class="col-md-4 col-lg-3 col-form-label">Facility</label>
                                                    <div class="col-md-8 col-lg-9">
                                                        <select required name="facility" id="facilityEdit"
                                                            class="form-select" aria-label="Facility Options">
                                                            <option {{#if (eq companyFound.facility "El Dorado" )
                                                                }}selected{{/if}} value="El Dorado">El Dorado</option>
                                                            <option {{#if (eq companyFound.facility "Ellsworth" )
                                                                }}selected{{/if}} value="Ellsworth">Ellsworth</option>
                                                            <option {{#if (eq companyFound.facility "Hutchinson" )
                                                                }}selected{{/if}} value="Hutchinson">Hutchinson</option>
                                                            <option {{#if (eq companyFound.facility "Lansing" )
                                                                }}selected{{/if}} value="Lansing">Lansing</option>
                                                            <option {{#if (eq companyFound.facility "Larned" )
                                                                }}selected{{/if}} value="Larned">Larned</option>
                                                            <option {{#if (eq companyFound.facility "Norton" )
                                                                }}selected{{/if}} value="Norton">Norton</option>
                                                            <option {{#if (eq companyFound.facility "Topeka" )
                                                                }}selected{{/if}} value="Topeka">Topeka</option>
                                                            <option {{#if (eq companyFound.facility "Winfield" )
                                                                }}selected{{/if}} value="Winfield">Winfield</option>
                                                            <option {{#if (eq companyFound.facility "Wichita" )
                                                                }}selected{{/if}} value="Wichita">Wichita</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="d-flex justify-content-between mt-3">
                                                    <button data-bs-toggle="modal" data-bs-target="#deleteCompany"
                                                        type="button" class="btn btn-danger mx-2">Delete
                                                        Company</button>

                                                    <button type="submit" class="btn btn-primary mx-2">Save
                                                        Edit</button>
                                                </div>

                                            </form>
                                        {{/if}}


                                        <!--=============== Edit employer Form============================ -->
                                    </div>
                                </div>
                            </div>

                            {{!-- All Companies tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'all')}}show active{{/if}} all-company pt-3"
                                id="all-company">
                                <!-- PI Partners Table -->
                                <div class="col-12">
                                    <div class="card recent-sales overflow-auto">
                                        <div class="card-body">
                                            <h5 class="card-title">PI Partners<span>| All Companies</span></h5>
                                            <table class="table table-borderless table-striped datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Facility</th>
                                                        <th scope="col">Company</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each companies}}
                                                        <tr>
                                                            <th scope="row"><a
                                                                    href="/admin/companyProfile/{{this._id}}">{{add
                                                                @index 1}}</a>
                                                            </th>
                                                            <td class="text-capitalize">{{this.facility}}</td>
                                                            <td class="text-capitalize"><a
                                                                    href="/admin/companyProfile/{{this._id}}">
                                                                    {{this.companyName}}</a>
                                                            </td>
                                                            {{!-- !!!!!!!!MAKE THIS REAL!!!!!1!! --}}
                                                            <td>12/31/24
                                                            </td>
                                                            <td><span class="badge bg-success">Active</span></td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}

{{> arrowUp}}

{{!-- MODAL FOR Delete Company --}}
<div class="modal fade" id="deleteCompany" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/admin/deleteCompany/{{companyFound._id}}">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize">Delete Company: {{companyFound.firstName}}
                        {{companyFound.lastName}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3 mt-3">
                        <p>Are you sure you want to delete this company?</p>
                        <p class="text-danger">This action is permanent and will delete all information connected to
                            this account.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete Company</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>