{{> adminTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Employer Contacts Database</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Employer Contacts Database</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="/assets/img/employer.png" alt="Profile" class="rounded-circle">
                        <h2 class="text-capitalize mb-3">PI Contacts Database</h2>
                        <h3>KCI Private Industry</h3>

                    </div>
                </div>
            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'add')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#add-employer">Add
                                    PI Contact</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'edit')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#edit-employer">Edit
                                    PI Contact</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'all')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#all-employer">All
                                    PI Contact</button>
                            </li>

                        </ul>

                        <div class="tab-content pt-2">
                            {{!-- Add Employers Tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'add')}}show active{{/if}} add-employer pt-3"
                                id="add-employer">
                                <form method="POST" action="/admin/addEmployer">
                                    {{!-- Company Name --}}
                                    <div class="row mb-3">
                                        <label for="companyName" class="col-md-4 col-lg-4 col-form-label">Company
                                            Name</label>
                                        <div class="col-md-8 col-lg-8">

                                            <select required name="companyName" id="companyName"
                                                class="form-select text-capitalize" aria-label="Select Company">
                                                <option selected value="">Select Company:
                                                </option>
                                                {{#each companies}}
                                                <option class="text-capitalize" value="{{this._id}}">
                                                    {{this.companyName}}</option>
                                                {{/each}}
                                            </select>

                                        </div>
                                    </div>
                                    {{!-- employer first name --}}
                                    <div class="row mb-3">
                                        <label for="firstName" class="col-md-4 col-lg-4 col-form-label">First
                                            Name</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input required name="firstName" type="text"
                                                class="form-control text-capitalize" id="firstName">
                                        </div>
                                    </div>
                                    {{!-- employer last name--}}
                                    <div class="row mb-3">
                                        <label for="lastName" class="col-md-4 col-lg-4 col-form-label">Last Name</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input required name="lastName" type="text"
                                                class="form-control text-capitalize" id="lastName">
                                        </div>
                                    </div>

                                    {{!-- employer email --}}
                                    <div class="row mb-3">
                                        <label for="email" class="col-md-4 col-lg-4 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input required name="email" type="email" class="form-control" id="email">
                                        </div>
                                    </div>

                                    {{!-- employer Password --}}
                                    <div class="row mb-3">
                                        <label for="password" class="col-md-4 col-lg-4 col-form-label">Password</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input required name="password" type="text" class="form-control"
                                                id="password">
                                        </div>
                                    </div>
                                    {{!-- employer Facility --}}
                                    <div class="row mb-3">
                                        <label for="facility" class="col-md-4 col-lg-4 col-form-label">Facility</label>
                                        <div class="col-md-8 col-lg-8">
                                            <select required name="facility" id="facility" class="form-select"
                                                aria-label="Facility Options">
                                                <option selected value="">Select Facility:
                                                </option>
                                                <option value="El Dorado">El Dorado</option>
                                                <option value="Ellsworth">Ellsworth</option>
                                                <option value="Hutchinson">Hutchinson</option>
                                                <option value="Lansing">Lansing</option>
                                                <option value="Larned">Larned</option>
                                                <option value="Norton">Norton</option>
                                                <option value="Topeka">Topeka</option>
                                                <option value="Winfield">Winfield</option>
                                                <option value="Wichita">Wichita</option>

                                            </select>
                                        </div>
                                    </div>

                                    {{!-- Save Button --}}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mx-2">Add</button>
                                    </div>
                                </form>
                                {{#if addMsg}}
                                <hr>
                                <p class="text-success text-center fst-italic mt-3">New employer added successfully.</p>
                                {{/if}}
                            </div>

                            {{!-- Edit Existing Employer Tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'edit')}}show active{{/if}} edit-employer pt-3"
                                id="edit-employer">

                                {{!-- Employer Search Bar --}}
                                <div class="row mb-3">
                                    <label for="employerList" class="col-md-4 col-lg-4 col-form-label">Employer
                                        Name</label>
                                    <div class="col-md-8 col-lg-8">
                                        <div class="search-bar">
                                            <form class="search-form d-flex align-items-center" method="POST"
                                                action="/admin/searchEmployerName">

                                                <div class="input-group">
                                                    <select required name="employerID" id="employerList"
                                                        class="form-select text-capitalize"
                                                        aria-label="Select Employer">
                                                        <option selected value="">Select Employer:
                                                        </option>
                                                        {{#each employers}}
                                                        <option class="text-capitalize" value="{{this._id}}">
                                                            {{this.firstName}} {{this.lastName}} - {{this.companyName}}
                                                        </option>
                                                        {{/each}}
                                                    </select>
                                                    <!-- Search Button -->
                                                    <button class="btn btn-primary" type="submit" id="searchButton"
                                                        title="Search">
                                                        <i class="bi bi-search"></i> <!-- Bootstrap Search Icon -->
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div><!-- End Search Bar -->


                                {{#if employerFound}}
                                <!--=============== Edit Employer Form =========================== -->
                                <hr>
                                <form method="POST" action="/admin/saveEmployerEdit">
                                    <input type="hidden" name="id" value="{{employerFound._id}}">
                                    {{!-- employer First Name --}}
                                    <div class="row mb-3">
                                        <label for="companyName" class="col-md-4 col-lg-4 col-form-label">Company
                                            Name</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="companyName" type="text" class="form-control text-capitalize"
                                                id="employerEditCompany" value="{{employerFound.companyName}}">
                                        </div>
                                    </div>
                                    {{!-- employer firstName --}}
                                    <div class="row mb-3">
                                        <label for="firstName" class="col-md-4 col-lg-4 col-form-label">First
                                            Name</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="firstName" type="text" class="form-control text-capitalize"
                                                id="editfirstName" value="{{employerFound.firstName}}">
                                        </div>
                                    </div>
                                    {{!-- employer lastName --}}
                                    <div class="row mb-3">
                                        <label for="lastName" class="col-md-4 col-lg-4 col-form-label">Last
                                            Name</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="lastName" type="text" class="form-control text-capitalize"
                                                id="editLastName" value="{{employerFound.lastName}}">
                                        </div>
                                    </div>
                                    {{!-- !!!!!Create a password change functionality later!!!!! --}}
                                    {{!-- employer password --}}
                                    {{!-- <div class="row mb-3">
                                        <label for="password" class="col-md-4 col-lg-4 col-form-label">Password</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="password" type="text" class="form-control text-capitalize"
                                                id="editPassword">
                                        </div>
                                    </div> --}}

                                    {{!-- employer email --}}
                                    <div class="row mb-3">
                                        <label for="email" class="col-md-4 col-lg-4 col-form-label">Employer
                                            Email</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="email" type="text" class="form-control" id="email"
                                                value="{{employerFound.email}}">
                                        </div>
                                    </div>
                                    {{!-- employer Facility --}}
                                    <div class="row mb-3">
                                        <label for="facility" class="col-md-4 col-lg-4 col-form-label">Facility</label>
                                        <div class="col-md-8 col-lg-8">

                                            <select required name="facility" id="facilityEdit" class="form-select"
                                                aria-label="Facility Options">
                                                <option {{#if (eq employerFound.facility "El Dorado" ) }}selected{{/if}}
                                                    value="El Dorado">El Dorado</option>
                                                <option {{#if (eq employerFound.facility "Ellsworth" ) }}selected{{/if}}
                                                    value="Ellsworth">Ellsworth</option>
                                                <option {{#if (eq employerFound.facility "Hutchinson" )
                                                    }}selected{{/if}} value="Hutchinson">Hutchinson</option>
                                                <option {{#if (eq employerFound.facility "Lansing" ) }}selected{{/if}}
                                                    value="Lansing">Lansing</option>
                                                <option {{#if (eq employerFound.facility "Larned" ) }}selected{{/if}}
                                                    value="Larned">Larned</option>
                                                <option {{#if (eq employerFound.facility "Norton" ) }}selected{{/if}}
                                                    value="Norton">Norton</option>
                                                <option {{#if (eq employerFound.facility "Topeka" ) }}selected{{/if}}
                                                    value="Topeka">Topeka</option>
                                                <option {{#if (eq employerFound.facility "Winfield" ) }}selected{{/if}}
                                                    value="Winfield">Winfield</option>
                                                <option {{#if (eq employerFound.facility "Wichita" ) }}selected{{/if}}
                                                    value="Wichita">Wichita</option>
                                            </select>
                                        </div>
                                    </div>

                                    {{!-- Save Button --}}
                                    <div class="d-flex justify-content-between mt-3">
                                        <!-- Save Button (Left) -->
                                        <button type="button" class="btn btn-danger mx-2">Delete Employer</button>

                                        <!-- Edit Button (Right) -->
                                        <button type="submit" class="btn btn-primary mx-2">Save Edit</button>
                                    </div>
                                </form>

                                {{/if}}
                                {{#if saveMsg}}
                                <hr>
                                <p class="text-success text-center fst-italic mt-3">Your edits have been saved
                                    successfully.
                                </p>
                                {{/if}}


                                <!--=============== Edit employer Form============================ -->
                            </div>

                            {{!-- All Employers tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'all')}}show active{{/if}} all-employer pt-3"
                                id="all-employer">
                                <!-- Employers Table -->
                                <div class="col-12">
                                    <div class="card recent-sales overflow-auto">
                                        <div class="card-body">
                                            <h5 class="card-title">Employer Contacts <span>| All PI Contacts</span></h5>
                                            <table class="table table-borderless table-striped datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Facility</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Company</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each employers}}
                                                    <tr>
                                                        <th scope="row"><a
                                                                href="/admin/employerProfile/{{this._id}}">{{add
                                                                @index 1}}</a>
                                                        </th>
                                                        <td class="text-capitalize">{{this.facility}}</td>
                                                        <td class="text-capitalize"><a
                                                                href="/admin/employerProfile/{{this._id}}">
                                                                {{this.firstName}} {{this.lastName}}</a>
                                                        </td>
                                                        <td><a
                                                                href="/admin/employerProfile/{{this._id}}">{{this.email}}</a>
                                                        </td>
                                                        <td class="text-capitalize">{{this.companyName}}</td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}

{{> arrowUp}}