{{> adminTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Facility Management Database</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Facility Management Database</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="/assets/img/employer.png" alt="Profile" class="rounded-circle">
                        <h2 class="text-capitalize mb-3">Facility Management Database</h2>
                        <h3>KDOC Employees</h3>

                    </div>
                </div>
            </div>

            <div class="col-12">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'add')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#add-facility_management">Add
                                    Member</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'edit')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#edit-facility_management">Edit
                                    Member</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'all')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#all-facility_management">All
                                    Members</button>
                            </li>

                        </ul>

                        <div class="tab-content pt-2">
                            {{!-- Add Facility_Management Tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'add')}}show active{{/if}} add-facility_management pt-3"
                                id="add-facility_management">
                                <div class="card">
                                    <div class="card-body pt-3">
                                        <form method="POST" action="/admin/addFacility_Management">

                                            {{!-- facility_management first name --}}
                                            <div class="row mb-3">
                                                <label for="firstName" class="col-md-3 col-lg-3 col-form-label">First
                                                    Name</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <input required name="firstName" type="text"
                                                        class="form-control text-capitalize" id="firstName">
                                                </div>
                                            </div>
                                            {{!-- facility_management last name--}}
                                            <div class="row mb-3">
                                                <label for="lastName" class="col-md-3 col-lg-3 col-form-label">Last
                                                    Name</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <input required name="lastName" type="text"
                                                        class="form-control text-capitalize" id="lastName">
                                                </div>
                                            </div>
                                            {{!--  facility--}}
                                            <div class="row mb-3">
                                                <label for="facility"
                                                    class="col-md-3 col-lg-3 col-form-label">Facility</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <select required name="facility" id="facility" class="form-select"
                                                        aria-label="Facility Options">
                                                        <option selected value="">Select Facility:
                                                        </option>
                                                        <option value="El Dorado">El Dorado</option>
                                                        <option value="Ellsworth">Ellsworth</option>
                                                        <option value="Hutchinson">Hutchinson</option>
                                                        <option value="Lansing">Lansing</option>
                                                        <option value="Larned">Larned</option>
                                                        <option value="Norton">Norton</option>
                                                        <option value="Topeka">Topeka</option>
                                                        <option value="Winfield">Winfield</option>
                                                        <option value="Wichita">Wichita</option>

                                                    </select>
                                                </div>
                                            </div>

                                            {{!-- facility_management email --}}
                                            <div class="row mb-3">
                                                <label for="email"
                                                    class="col-md-3 col-lg-3 col-form-label">Email</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <input required name="email" type="email" class="form-control"
                                                        id="email">
                                                </div>
                                            </div>

                                            {{!-- facility_management Password --}}
                                            <div class="row mb-3">
                                                <label for="password"
                                                    class="col-md-3 col-lg-3 col-form-label">Password</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <input required name="password" type="password" class="form-control"
                                                        id="password">
                                                </div>
                                            </div>


                                            {{!-- Save Button --}}
                                            <hr>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary mx-2">Add
                                                    Member</button>
                                            </div>
                                        </form>
                                        {{#if addMsg}}
                                            <hr>
                                            <p class="text-success text-center fst-italic mt-3">New member
                                                added
                                                successfully.</p>
                                        {{/if}}
                                        {{#if addErr}}
                                            <hr>
                                            <p class="text-danger text-center fst-italic mt-3">This member
                                                already
                                                exists.</p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>

                            {{!-- Edit Existing Facility_Management Tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'edit')}}show active{{/if}} edit-facility_management pt-3"
                                id="edit-facility_management">
                                <div class="card">
                                    <div class="card-body pt-3">

                                        {{!-- Facility_Management Search Bar --}}
                                        <div class="row mb-3">
                                            <label for="facility_managementList"
                                                class="col-md-4 col-lg-4 col-form-label">Search
                                                Members:</label>
                                            <div class="col-md-8 col-lg-8">
                                                <div class="search-bar">
                                                    <form class="search-form d-flex align-items-center" method="POST"
                                                        action="/admin/searchFacility_ManagementName">

                                                        <div class="input-group">
                                                            <select required name="facility_managementID"
                                                                id="facility_managementList"
                                                                class="form-select text-capitalize"
                                                                aria-label="Select Facility_Management">
                                                                <option selected value="">Select Facility Management:
                                                                </option>
                                                                {{#each facility_management}}
                                                                    <option class="text-capitalize"
                                                                        value="{{this._id}}">
                                                                        {{this.firstName}} {{this.lastName}}
                                                                    </option>
                                                                {{/each}}
                                                            </select>
                                                            <!-- Search Button -->
                                                            <button class="btn btn-primary" type="submit"
                                                                id="searchButton" title="Search">
                                                                <i class="bi bi-search"></i>
                                                                <!-- Bootstrap Search Icon -->
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div><!-- End Search Bar -->


                                        {{#if facility_managementFound}}
                                            <!--=============== Edit Facility_Management Form =========================== -->
                                            <hr>
                                            <form method="POST" action="/admin/saveFacility_ManagementEdit">
                                                <input type="hidden" name="id" value="{{facility_managementFound._id}}">
                                                {{!-- facility_management firstName --}}
                                                <div class="row mb-3">
                                                    <label for="firstName"
                                                        class="col-md-4 col-lg-4 col-form-label">First
                                                        Name</label>
                                                    <div class="col-md-8 col-lg-8">
                                                        <input name="firstName" type="text"
                                                            class="form-control text-capitalize" id="editfirstName"
                                                            value="{{facility_managementFound.firstName}}">
                                                    </div>
                                                </div>
                                                {{!-- facility_management lastName --}}
                                                <div class="row mb-3">
                                                    <label for="lastName" class="col-md-4 col-lg-4 col-form-label">Last
                                                        Name</label>
                                                    <div class="col-md-8 col-lg-8">
                                                        <input name="lastName" type="text"
                                                            class="form-control text-capitalize" id="editLastName"
                                                            value="{{facility_managementFound.lastName}}">
                                                    </div>
                                                </div>

                                                {{!--  facility--}}
                                                <div class="row mb-3">
                                                    <label for="facility"
                                                        class="col-md-4 col-lg-4 col-form-label">Facility</label>
                                                    <div class="col-md-8 col-lg-8">

                                                        <select required name="facility" id="facilityEdit"
                                                            class="form-select" aria-label="Facility Options">
                                                            <option {{#if (eq
                                                                facility_managementFound.facility "El Dorado" )
                                                                }}selected{{/if}} value="El Dorado">El Dorado
                                                            </option>
                                                            <option {{#if (eq
                                                                facility_managementFound.facility "Ellsworth" )
                                                                }}selected{{/if}} value="Ellsworth">Ellsworth
                                                            </option>
                                                            <option {{#if (eq
                                                                facility_managementFound.facility "Hutchinson" )
                                                                }}selected{{/if}} value="Hutchinson">
                                                                Hutchinson
                                                            </option>
                                                            <option {{#if (eq
                                                                facility_managementFound.facility "Lansing" )
                                                                }}selected{{/if}} value="Lansing">Lansing
                                                            </option>
                                                            <option {{#if (eq facility_managementFound.facility "Larned"
                                                                ) }}selected{{/if}} value="Larned">Larned</option>
                                                            <option {{#if (eq facility_managementFound.facility "Norton"
                                                                ) }}selected{{/if}} value="Norton">Norton</option>
                                                            <option {{#if (eq facility_managementFound.facility "Topeka"
                                                                ) }}selected{{/if}} value="Topeka">Topeka</option>
                                                            <option {{#if (eq
                                                                facility_managementFound.facility "Winfield" )
                                                                }}selected{{/if}} value="Winfield">Winfield
                                                            </option>
                                                            <option {{#if (eq
                                                                facility_managementFound.facility "Wichita" )
                                                                }}selected{{/if}} value="Wichita">Wichita
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                {{!-- facility_management email --}}
                                                <div class="row mb-3">
                                                    <label for="email" class="col-md-4 col-lg-4 col-form-label">
                                                        Email</label>
                                                    <div class="col-md-8 col-lg-8">
                                                        <input name="email" type="text" class="form-control" id="email"
                                                            value="{{facility_managementFound.email}}" readonly>
                                                    </div>
                                                </div>



                                                <hr>

                                                <div class="d-flex justify-content-between mt-3">
                                                    <button data-bs-toggle="modal"
                                                        data-bs-target="#deleteFacility_Management" type="button"
                                                        class="btn btn-danger mx-2">Delete
                                                        Member</button>

                                                    <button data-bs-toggle="modal" data-bs-target="#resetPassword"
                                                        type="button" class="btn btn-warning mx-2">Reset
                                                        Password</button>

                                                    <button type="submit" class="btn btn-primary mx-2">Save
                                                        Edit</button>
                                                </div>
                                            </form>

                                        {{/if}}
                                        {{#if saveMsg}}
                                            <hr>
                                            <p class="text-success text-center fst-italic mt-3">Your edits have been
                                                saved
                                                successfully.
                                            </p>
                                        {{/if}}
                                        {{#if deleteMsg}}
                                            <hr>
                                            <p class="text-danger text-center fst-italic mt-3">Admin
                                                succesfully deleted.
                                            </p>
                                        {{/if}}
                                        {{#if saved}}
                                            <hr>
                                            <p class="text-success text-center fst-italic mt-3">Password successfully
                                                reset.
                                            </p>
                                        {{/if}}
                                        {{#if savingError}}
                                            <hr>
                                            <p class="text-warning text-center fst-italic mt-3">There was an error in
                                                trying to reset this password. Please try again.
                                            </p>
                                        {{/if}}
                                        <!--=============== Edit facility_management Form============================ -->
                                    </div>
                                </div>
                            </div>

                            {{!-- All Facility_Management tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'all')}}show active{{/if}} all-facility_management pt-3"
                                id="all-facility_management">
                                <!-- Facility_Management Table -->
                                <div class="col-12">
                                    <div class="card recent-sales overflow-auto">
                                        <div class="card-body">
                                            <h5 class="card-title">Facility Management <span>| All KDOC</span></h5>
                                            <table class="table table-borderless table-striped datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">First Name</th>
                                                        <th scope="col">Last Name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">facility</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each facility_management}}
                                                        <tr>
                                                            <th scope="row"><a
                                                                    href="/admin/facility_managementProfile/{{this._id}}">{{add
                                                                @index 1}}</a>
                                                            </th>
                                                            <td class="text-capitalize"><a
                                                                    href="/admin/facility_managementProfile/{{this._id}}">{{this.firstName}}</a>
                                                            </td>
                                                            <td class="text-capitalize"><a
                                                                    href="/admin/facility_managementProfile/{{this._id}}">{{this.lastName}}</a>
                                                            </td>
                                                            <td><a
                                                                    href="/admin/facility_managementProfile/{{this._id}}">{{this.email}}</a>
                                                            </td>
                                                            <td class="text-capitalize"><a
                                                                    href="/admin/facility_managementProfile/{{this._id}}">{{this.facility}}</a>
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}

{{> arrowUp}}


{{!-- MODAL FOR Delete Facility_Management --}}
<div class="modal fade" id="deleteFacility_Management" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/admin/deleteFacility_Management/{{facility_managementFound._id}}">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize">Delete Member: {{facility_managementFound.firstName}}
                        {{facility_managementFound.lastName}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3 mt-3">
                        <p>Are you sure you want to delete this facility management member?</p>
                        <p class="text-danger">This action is permanent and will delete all information connected to
                            this account.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="" type="submit" class="btn btn-danger">Delete member</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{{!-- MODAL FOR Reset Password --}}
<div class="modal fade" id="resetPassword" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/admin/resetFacility_ManagementPassword/{{facility_managementFound._id}}">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize">Facility Management: {{facility_managementFound.firstName}}
                        {{facility_managementFound.lastName}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3 mt-3">
                        <label for="password" class="col-md-5 col-lg-5 col-form-label">New Password:</label>
                        <div class="col-md-7 col-lg-7">
                            <input required name="password" type="password" class="form-control" id="password">
                        </div>
                    </div>
                    <div class="row mb-3 mt-3">
                        <label for="confirmPassword" class="col-md-5 col-lg-5 col-form-label">Confirm
                            Password:</label>
                        <div class="col-md-7 col-lg-7">
                            <input required name="confirmPassword" type="password" class="form-control"
                                id="confirmPassword">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button id="" type="submit" class="btn btn-warning">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>