{{> adminTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Unit Team Data</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Unit Team Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Dashboard Cone -->
            <div class="col-lg-12">
                <div class="row">

                    {{!-- Data Tables Section --}}
                    <!-- Unit Team Table -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Unit Team <span>| All KDOC</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Facility</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each unitTeam}}
                                        <tr>
                                            <th scope="row"><a href="/admin/unitTeamProfile/{{this._id}}">{{add
                                                    @index 1}}</a>
                                            </th>
                                            <td class="text-capitalize">{{this.facility}}</td>
                                            <td class="text-capitalize">{{this.firstName}}</td>
                                            <td class="text-capitalize"><a href="/admin/unitTeamProfile/{{this._id}}">
                                                    {{this.lastName}}</a>
                                            </td>
                                            <td><a href="/admin/unitTeamProfile/{{this._id}}">{{this.email}}</a></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End Unit Team Table -->
                    {{!-- End of Data Tables Section --}}
                </div>
            </div><!-- End Dashboard Cone -->
        </div>
    </section>
</main><!-- End #main -->
<!-- ======= Footer ======= -->
{{> footer}}
{{> arrowUp}}