<div class="tab-pane fade {{#if (eq activeTab 'notes')}}show active{{/if}} profile-overview pt-3" id="medical-notes">
    <form method="POST" action="/notification/Medical/saveMedicalNotes/{{resident.residentID}}/{{email}}">
        <h5 class="card-title">Provide additional information if needed.</h5>
        <div class="row">
            <div class="row mb-3">
                <div class="col-sm-10">
                    <textarea class="form-control" name="notes" placeholder="Additional notes or comments"
                        style="height: 100px;"></textarea>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-4 col-md-6 d-grid gap-2 mt-3">

                <button type="submit" class="btn btn-primary mb-2">Save</button>
            </div>
        </div>
    </form>
    <hr>
    <h4 class="card-title">Previous Notes:</h4>
    <div class="row">
        <div class="row mb-3">
            <div class="col-sm-10">
                {{#if items}}
                {{#each items}}
                <p>{{this}}</p>

                {{/each}}
                {{else}}
                <p><i>There has been no documentation yet.</i></p>
                {{/if}}
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <a class="ms-auto" href="/notification/next_notify/{{resident.residentID}}/{{email}}/Medical">
            <button type="button" class="btn btn-info btn-block mb-2">Next
                Step</button>
        </a>
    </div>

</div>