<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/admin/dashboard" class="logo d-flex align-items-center">
            <img src="/assets/img/favicon.png" alt="Kansas Correctional Industries">
            <span class="d-none d-lg-block">KCI Private Industry</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/avatar.png" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2 text-capitalize">{{user.firstName}}
                        {{user.lastName}}</span>
                </a><!-- End Profile Image Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 class="text-capitalize">{{user.firstName}} {{user.lastName}}</h6>
                        <span id="userEmail">{{user.email}}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-gear"></i>
                            <span>Account Settings</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin/helpDesk">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/logOut">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/admin/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->


        {{!-- maybe add charts or something later --}}
        {{!-- <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Stats</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Employment</span>
                    </a>
                </li>
            </ul>
        </li> --}}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>KCI PI Rosters</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/residentTables">
                        <i class="bi bi-circle"></i><span>Residents</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/unitTeamTables">
                        <i class="bi bi-circle"></i><span>Unit Team</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/employerTables">
                        <i class="bi bi-circle"></i><span>Employer Contacts</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/companyTables">
                        <i class="bi bi-circle"></i><span>Partners</span>
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Database</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/residentDB">
                        <i class="bi bi-circle"></i><span>Residents</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/unitTeamDB">
                        <i class="bi bi-circle"></i><span>Unit Team</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/employerDB">
                        <i class="bi bi-circle"></i><span>Employer Contacts</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/companyDB">
                        <i class="bi bi-circle"></i><span>Partners</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-heading">Links</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/helpDesk">
                <i class="bi bi-question-circle"></i>
                <span>Help Desk</span>
            </a>
        </li><!-- End Help Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/contact">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" href="/logOut">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Sign Out</span>
            </a>
        </li><!-- End Sign Out Page Nav -->
    </ul>
</aside><!-- End Sidebar-->