<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/resident/dashboard" class="logo d-flex align-items-center">
            <img src="/assets/img/favicon.png" alt="Kansas Correctional Industries">
            <span>KCI Private Industry</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/avatar.png" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2 text-capitalize">{{user.firstName}}
                        {{user.lastName}}</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 class="text-capitalize">{{user.firstName}} {{user.lastName}}</h6>
                        <span>#{{user.residentID}}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/resident/profile">
                            <i class="bi bi-person"></i>
                            <span>My Resume</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/resident/applications">
                            <i class="bi bi-card-list"></i>
                            <span>My Applications</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/resident/faq">
                            <i class="bi bi-question-circle"></i>
                            <span>F.A.Q</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/residentLogOut">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>


<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/resident/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-heading">Links</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/resident/profile">
                <i class="bi bi-person"></i>
                <span>My Resume</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/resident/applications">
                <i class="bi bi-card-list"></i>
                <span>My Applications</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/resident/recentActivities">
                <i class="bi bi-calendar2-minus"></i>
                <span>Recent Activities</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/resident/faq">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/residentLogOut">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Sign Out</span>
            </a>
        </li>
    </ul>
</aside>