{{> adminTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-capitalize">{{classification.firstName}} {{classification.lastName}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Classification Profile</li>
            </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="/assets/img/employer.png" alt="Profile" class="rounded-circle">
                        <h2 class="text-capitalize mb-3">{{classification.firstName}} {{classification.lastName}}</h2>
                        <h3>Classification Member</h3>
                    </div>
                </div>
            </div>

            <div class="col-12">

                <div class="card">
                    <div class="card-body pt-3">

                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'overview')}}active{{/if}}"
                                    data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'activities')}}active{{/if}}"
                                    data-bs-toggle="tab" data-bs-target="#activities-classification">Activity
                                    Log</button>
                            </li>

                        </ul>

                        <div class="tab-content pt-2">
                            {{!-- Overview --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'overview')}}show active{{/if}} profile-overview pt-3"
                                id="profile-overview">
                                <h5 class="card-title">Member Information:</h5>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-8 col-md-8 text-capitalize">{{classification.firstName}}
                                        {{classification.lastName}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Facility</div>
                                    <div class="col-lg-8 col-md-8 text-capitalize">{{classification.facility}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 label">Email</div>
                                    <div class="col-lg-8 col-md-8 ">{{classification.email}}</div>
                                </div>
                            </div>

                            <div class="tab-pane fade {{#if (eq activeTab 'activities')}}show active{{/if}} activities-classification pt-3"
                                id="activities-classification">
                                <div class="activity">
                                    <div class="card">
                                        <div class="card-body mt-3">
                                            {{#if activities}}
                                                {{#each activities}}
                                                    <div class="activity-item d-flex">
                                                        <div class="activite-label">{{formatDate this.timestamp}}</div>
                                                        <i
                                                            class='bi bi-circle-fill activity-badge {{this.color}} align-self-start'></i>
                                                        <div class="activity-content">
                                                            {{this.details}}
                                                        </div>
                                                    </div>

                                                {{/each}}
                                            {{else}}
                                                <h5 class="text-center pt-3">This Classification member has not yet
                                                    completed
                                                    any
                                                    activities.
                                                </h5>
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{{> footer}}
{{> arrowUp}}