{{> employerTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Employer Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Positions card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card sales-card">

                            <div class="card-body">
                                <a href="/employer/managePositions">
                                    <h5 class="card-title">Positions <span>| To Fill</span></h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-clipboard-check"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{positionsAvailable}}</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!-- End Positions card -->

                    <!-- Applicants Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <a href="/employer/applicants">
                                    <h5 class="card-title">Applicants <span>| Pending</span></h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-card-list"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{countArrayItems applicants}}</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!-- End Applicants Card -->

                    <!-- Employees Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <a href="/employer/employees">
                                    <h5 class="card-title">Employees <span>| Total</span></h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-people"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{countItems residents}}</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!-- End Employees Card -->

                    {{!-- Data Tables Section --}}

                    <!-- Job Positions Table -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Job Positions <span>| Current</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Position</th>
                                            <th scope="col">Job Pool</th>
                                            <th scope="col">Pay</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each jobs}}
                                        <tr>
                                            <th scope="row">{{this.availablePositions}}</th>

                                            <td><a href="/employer/jobProfile/{{this._id}}"
                                                    class="text-primary text-capitalize">{{this.position}}</a></td>
                                            <td class="text-capitalize">{{this.jobPool}}</td>
                                            <td>${{this.pay}} /hour</td>
                                            {{#if this.isAvailable}}
                                            <td><span class="badge bg-success">open</span></td>
                                            {{else}}
                                            <td><span class="badge bg-secondary">closed</span></td>
                                            {{/if}}
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- End Job Positions Table -->

                    <!-- Applicants Table -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Applicants <span>| To Review</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID #</th>
                                            <th scope="col">Facility</th>
                                            <th scope="col">Resident</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each applicants}}
                                        <tr>
                                            <th scope="row"><a
                                                    href="/employer/residentProfile/{{this.residentID}}">{{this.residentID}}</a>
                                            </th>
                                            <td class="text-capitalize">{{this.facility}}</td>
                                            <td><a href="/employer/residentProfile/{{this.residentID}}"
                                                    class="text-primary text-capitalize">{{this.firstName}}
                                                    {{this.lastName}}</a></td>
                                            <td>{{formatDate this.resume.dateCreated}}</td>
                                            <td><span class="badge bg-warning">Pending</span></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- End Applicants Table -->

                    <!-- Residents Table -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Employees <span>| Work Force</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID #</th>
                                            <th scope="col">Facility</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Resume</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each residents}}
                                        <tr>
                                            <th scope="row"><a
                                                    href="/employer/residentProfile/{{this.residentID}}">{{this.residentID}}</a>
                                            </th>
                                            <td class="text-capitalize">{{this.facility}}</td>
                                            <td class="text-capitalize">{{this.firstName}}</td>
                                            <td class="text-capitalize">{{this.lastName}}</td>
                                            {{#if this.resumeIsApproved}}
                                            <td><span class="badge bg-success">Approved</span></td>
                                            {{#if this.resumeRejectionReason}}
                                            <td><span class="badge bg-danger">Rejected</span></td>
                                            {{else}}
                                            <td><span class="badge bg-warning">Pending</span></td>
                                            {{/if}}
                                            {{/if}}

                                        </tr>

                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- End Residents Table -->

                    {{!-- End of Data Tables Section --}}
                </div>
            </div><!-- End Dashboard Content -->
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}

{{> arrowUp}}