{{> employerTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-capitalize">Manage Positions - {{user.companyName}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/{{user.email}}">Dashboard</a></li>
                <li class="breadcrumb-item active">Manage Positions</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">

        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">All
                                    Positions</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-add-employer">Add
                                    Position</button>
                            </li>
                        </ul>

                        <div class="tab-content pt-2">

                            {{!-- All Positions TAB --}}
                            <div class="tab-pane fade show active profile-edit pt-3" id="profile-edit">
                                {{!-- Positions table --}}
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <div class="card recent-sales overflow-auto">
                                            <div class="card-body">
                                                <h5 class="card-title">Job Positions <span>| Current</span></h5>
                                                <table class="table table-borderless datatable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Position</th>
                                                            <th scope="col">Job Pool</th>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">Applicants</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each jobs}}
                                                        <tr>
                                                            <th scope="row">{{this.availablePositions}}</th>
                                                            <td><a href="/employer/jobProfile/{{this._id}}"
                                                                    class="text-primary text-capitalize">{{this.position}}</a>
                                                            </td>
                                                            <td class="text-capitalize">{{this.jobPool}}</td>
                                                            <td>{{formatDate this.dateCreated}}</td>
                                                            <td><span class="badge bg-danger">None</span></td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                                <hr>
                                                {{#if addPositionMSG}}
                                                <h5 class="text-warning text-sm">New job position added.</h5>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div><!-- End Job Positions Table -->
                                </div>
                            </div>

                            {{!-- Add Position TAB --}}
                            <div class="tab-pane fade profile-add-employer pt-3" id="profile-add-employer">
                                <form method="POST" action="/employer/addNewPosition">

                                    {{!-- Position Title --}}
                                    <div class="row mb-3">
                                        <label for="position" class="col-md-4 col-lg-4 col-form-label">Position
                                            Title</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="position" type="text" class="form-control text-capitalize"
                                                id="position" required>
                                        </div>
                                    </div>
                                    {{!-- Description --}}
                                    <div class="row mb-3">
                                        <label for="description"
                                            class="col-md-4 col-lg-4 col-form-label">Description</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="description" type="text" class="form-control text-capitalize"
                                                id="description" required>
                                        </div>
                                    </div>
                                    {{!-- Hourly Pay --}}
                                    <div class="row mb-3">
                                        <label for="pay" class="col-md-4 col-lg-4 col-form-label">Hourly Pay</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="pay" type="text" class="form-control text-capitalize" id="pay"
                                                required>
                                        </div>
                                    </div>
                                    {{!-- Positions Available --}}
                                    <div class="row mb-3">
                                        <label for="availablePositions"
                                            class="col-md-4 col-lg-4 col-form-label">Positions Available</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="availablePositions" type="number" min="0" class="form-control"
                                                id="availablePositions" required>
                                        </div>
                                    </div>
                                    {{!-- Position Facility --}}
                                    <div class="row mb-3">
                                        <label for="facility" class="col-md-4 col-lg-4 col-form-label">Facility</label>
                                        <div class="col-md-8 col-lg-8">
                                            <select required name="facility" id="facility" class="form-select"
                                                aria-label="Facility Options">
                                                <option selected value="">Select Facility:
                                                </option>
                                                <option value="El Dorado">El Dorado</option>
                                                <option value="Ellsworth">Ellsworth</option>
                                                <option value="Hutchinson">Hutchinson</option>
                                                <option value="Lansing">Lansing</option>
                                                <option value="Larned">Larned</option>
                                                <option value="Norton">Norton</option>
                                                <option value="Topeka">Topeka</option>
                                                <option value="Winfield">Winfield</option>
                                                <option value="Wichita">Wichita</option>
                                            </select>
                                        </div>
                                    </div>

                                    {{!-- Job Pool--}}
                                    <div class="row mb-3">
                                        <label for="jobPool" class="col-md-4 col-lg-4 col-form-label">Job Pool</label>
                                        <div class="col-md-8 col-lg-8">
                                            <select required name="jobPool" class="form-select" aria-label="Job Pool">
                                                <option value="">Select Job Pool</option>
                                                <option value="Male Minimum 1 (Off-Site)">Male Minimum 1
                                                    &lpar;Off-Site&rpar;</option>
                                                <option value="Male Minimum 2 (On-Site)">Male Minimum 2
                                                    &lpar;On-Site&rpar;</option>
                                                <option value="Male Medium/Maximum">Male Medium/Maximum</option>
                                                <option value="Female Minimum 1 (Off-Site)">Female Minimum 1
                                                    &lpar;Off-Site&rpar;</option>
                                                <option value="Female Minimum 2 (On-Site)">Female Minimum 2
                                                    &lpar;On-Site&rpar;</option>
                                                <option value="Female Medium/Maximum">Female Medium/Maximum</option>
                                            </select>

                                        </div>
                                    </div>
                                    <input type="hidden" name="companyID" value="{{company._id}}">
                                    <input type="hidden" name="companyName" value="{{company.companyName}}">
                                    {{!-- Save Button --}}
                                    <hr>
                                    <div class="text-end mt-3">
                                        <button type="submit" class="btn btn-primary mx-2">Add Position</button>
                                    </div>
                                </form>
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}

{{> arrowUp}}