{{> employerTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-capitalize">Manage Positions - {{user.companyName}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard/{{user.email}}">Dashboard</a></li>
                <li class="breadcrumb-item active">Manage Positions</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">

        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'all')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#position-all">All
                                    Positions</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'add')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#position-add">Add
                                    Position</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'edit')}}active{{/if}}" data-bs-toggle="tab"
                                    data-bs-target="#position-edit">Edit
                                    Position</button>
                            </li>
                        </ul>
                        {{!-- Bordered Tab Content --}}

                        <div class="tab-content pt-2">

                            {{!-- All Positions TAB --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'all')}}show active{{/if}} position-all pt-3"
                                id="position-all">
                                {{#if addMsg}}
                                    <h5 class="text-primary text-center text-sm">New job position added.</h5>
                                {{/if}}
                                {{#if editMsg}}
                                    <h5 class="text-primary text-center text-sm">Position succefully edited.</h5>
                                {{/if}}
                                {{#if deleteErr}}
                                    <h5 class="text-danger text-center text-sm">This position has active
                                        employees. You may not delete it.</h5>
                                {{/if}}
                                {{!-- Positions table --}}
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <div class="card recent-sales overflow-auto">
                                            <div class="card-body">
                                                <h5 class="card-title">Job Positions <span>| All Positions</span></h5>
                                                <table class="table table-borderless table-striped datatable">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col"># Available</th>
                                                            <th scope="col">Position</th>
                                                            <th scope="col">Job Pool</th>
                                                            <th scope="col">Date Created</th>
                                                            <th scope="col">Applicants</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each jobs}}
                                                            <tr>
                                                                <th scope="row">{{this.availablePositions}}</th>
                                                                <td><a href="/employer/jobProfile/{{this._id}}"
                                                                        class="text-primary text-capitalize">{{this.position}}</a>
                                                                </td>
                                                                <td class="text-capitalize"><a
                                                                        href="/employer/jobProfile/{{this._id}}"
                                                                        class="text-primary">{{this.jobPool}}</a>
                                                                </td>
                                                                <td>{{formatDate this.dateCreated}}</td>
                                                                {{#if (eq this.applicants '')}}
                                                                    <td><span class="badge bg-danger">none</span></td>
                                                                {{else}}
                                                                    <td><span class="badge bg-success">
                                                                            &nbsp;&nbsp;{{countArrayItems
                                                                            this.applicants}}
                                                                            &nbsp;&nbsp;</span>
                                                                    </td>
                                                                {{/if}}
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div><!-- End Job Positions Table -->
                                </div>
                            </div>

                            {{!-- Add Position TAB --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'add')}}show active{{/if}} position-add pt-3"
                                id="position-add">
                                <div class="card">
                                    <div class="card-body pt-3">
                                        <form method="POST" action="/employer/addNewPosition">

                                            {{!-- Position Title --}}
                                            <div class="row mb-3">
                                                <label for="position" class="col-md-4 col-lg-4 col-form-label">Position
                                                    Title</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <input name="position" type="text"
                                                        class="form-control text-capitalize" id="position" required>
                                                </div>
                                            </div>
                                            {{!-- Description --}}
                                            <div class="row mb-3">
                                                <label for="description"
                                                    class="col-md-4 col-lg-4 col-form-label">Description</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <input name="description" type="text"
                                                        class="form-control text-capitalize" id="description"
                                                        maxlength="16" required>
                                                </div>
                                            </div>
                                            {{!-- Skill Set --}}
                                            <div class="row mb-3">
                                                <label for="skillSet" class="col-md-4 col-lg-4 col-form-label">Required
                                                    Skills</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <input name="skillSet" type="text"
                                                        class="form-control text-capitalize" id="skillSet"
                                                        placeholder="Optional">
                                                </div>
                                            </div>
                                            {{!-- Hourly Pay --}}
                                            <div class="row mb-3">
                                                <label for="pay" class="col-md-4 col-lg-4 col-form-label">Hourly
                                                    Pay</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <input name="pay" min="0" placeholder="per hour" type="number"
                                                        class="form-control text-capitalize" id="pay" required>
                                                </div>
                                            </div>
                                            {{!-- Positions Available --}}
                                            <div class="row mb-3">
                                                <label for="availablePositions"
                                                    class="col-md-4 col-lg-4 col-form-label">Positions Available</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <input name="availablePositions" type="number" min="0"
                                                        class="form-control" id="availablePositions" required>
                                                </div>
                                            </div>
                                            {{!-- Position Facility --}}
                                            <div class="row mb-3">
                                                <label for="facility"
                                                    class="col-md-4 col-lg-4 col-form-label">Facility</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <select required name="facility" id="facility" class="form-select"
                                                        aria-label="Facility Options">
                                                        <option selected value="">Select Facility:
                                                        </option>
                                                        <option value="El Dorado">El Dorado</option>
                                                        <option value="Ellsworth">Ellsworth</option>
                                                        <option value="Hutchinson">Hutchinson</option>
                                                        <option value="Lansing">Lansing</option>
                                                        <option value="Larned">Larned</option>
                                                        <option value="Norton">Norton</option>
                                                        <option value="Topeka">Topeka</option>
                                                        <option value="Winfield">Winfield</option>
                                                        <option value="Wichita">Wichita</option>
                                                    </select>
                                                </div>
                                            </div>

                                            {{!-- Job Pool--}}
                                            <div class="row mb-3">
                                                <label for="jobPool" class="col-md-4 col-lg-4 col-form-label">Job
                                                    Pool</label>
                                                <div class="col-md-8 col-lg-8">
                                                    <select required name="jobPool" class="form-select"
                                                        aria-label="Job Pool">
                                                        <option value="">Select Job Pool:</option>
                                                        <option value="Male Minimum 1 (Off-Site)">Male Minimum 1
                                                            &lpar;Off-Site&rpar;</option>
                                                        <option value="Male Minimum 2 (On-Site)">Male Minimum 2
                                                            &lpar;On-Site&rpar;</option>
                                                        <option value="Male Medium/Maximum">Male Medium/Maximum</option>
                                                        <option value="Female Minimum 1 (Off-Site)">Female Minimum 1
                                                            &lpar;Off-Site&rpar;</option>
                                                        <option value="Female Minimum 2 (On-Site)">Female Minimum 2
                                                            &lpar;On-Site&rpar;</option>
                                                        <option value="Female Medium/Maximum">Female Medium/Maximum
                                                        </option>
                                                    </select>

                                                </div>
                                            </div>
                                            <input type="hidden" name="companyID" value="{{company._id}}">
                                            <input type="hidden" name="companyName" value="{{company.companyName}}">
                                            {{!-- Save Button --}}
                                            <hr>
                                            <div class="text-end mt-3">
                                                <button type="submit" class="btn btn-primary mx-2">Add Position</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {{!-- Edit Position TAB --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'edit')}}show active{{/if}} position-edit p-3"
                                id="position-edit">
                                <div class="card">
                                    <div class="card-body pt-3">
                                        <div class="row mb-3">
                                            {{!-- Position Search Bar --}}
                                            <label for="positionList" class="col-md-4 col-lg-4 col-form-label">Position
                                                Title</label>
                                            <div class="col-md-8 col-lg-8">
                                                <div class="search-bar">
                                                    <form class="search-form d-flex align-items-center" method="POST"
                                                        action="/employer/searchPosition">

                                                        <div class="input-group">
                                                            <select required name="jobID" id="positionList"
                                                                class="form-select text-capitalize"
                                                                aria-label="Select Position to Edit">
                                                                <option selected value="">Select position to edit:
                                                                </option>
                                                                {{#each jobs}}
                                                                    <option class="text-capitalize"
                                                                        value="{{this._id}}">
                                                                        {{this.position}}
                                                                    </option>
                                                                {{/each}}
                                                            </select>
                                                            <!-- Search Button -->
                                                            <button class="btn btn-primary" type="submit"
                                                                id="searchButton" title="Search">
                                                                <i class="bi bi-search"></i>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            {{#if positionFound}}
                                                <div>
                                                    <hr>
                                                    <p class="text-primary">Edit Position Details Below:</p>
                                                    <form method="POST"
                                                        action="/employer/editSearchedPosition/{{positionFound._id}}">
                                                        <input type="hidden" name="id" value="{{positionFound._id}}">
                                                        {{!-- Position Title --}}
                                                        <div class="row mb-3">
                                                            <label for="editPosition"
                                                                class="col-md-4 col-lg-4 col-form-label">Position
                                                                Title</label>
                                                            <div class="col-md-8 col-lg-8">
                                                                <input name="editPosition" type="text"
                                                                    class="form-control text-capitalize"
                                                                    id="editPosition" required
                                                                    value="{{positionFound.position}}">
                                                            </div>
                                                        </div>
                                                        {{!-- Description --}}
                                                        <div class="row mb-3">
                                                            <label for="description"
                                                                class="col-md-4 col-lg-4 col-form-label">Description</label>
                                                            <div class="col-md-8 col-lg-8">
                                                                <input name="description" type="text"
                                                                    class="form-control text-capitalize"
                                                                    id="description" required
                                                                    value="{{positionFound.description}}">
                                                            </div>
                                                        </div>
                                                        {{!-- Skill Set --}}
                                                        <div class="row mb-3">
                                                            <label for="skillSet"
                                                                class="col-md-4 col-lg-4 col-form-label">Required
                                                                Skills</label>
                                                            <div class="col-md-8 col-lg-8">
                                                                <input name="skillSet" type="text"
                                                                    class="form-control text-capitalize" id="skillSet"
                                                                    placeholder="Optional"
                                                                    value="{{positionFound.skillSet}}">
                                                            </div>
                                                        </div>
                                                        {{!-- Hourly Pay --}}
                                                        <div class="row mb-3">
                                                            <label for="pay"
                                                                class="col-md-4 col-lg-4 col-form-label">Hourly
                                                                Pay</label>
                                                            <div class="col-md-8 col-lg-8">
                                                                <input name="pay" min="0" placeholder="per hour"
                                                                    type="number" min="0" placeholder="per hour"
                                                                    class="form-control" id="pay" required
                                                                    value="{{positionFound.pay}}">
                                                            </div>
                                                        </div>
                                                        {{!-- Positions Available --}}
                                                        <div class="row mb-3">
                                                            <label for="availablePositions"
                                                                class="col-md-4 col-lg-4 col-form-label">Positions
                                                                Available</label>
                                                            <div class="col-md-8 col-lg-8">
                                                                <input name="availablePositions" type="number" min="0"
                                                                    class="form-control" id="availablePositions"
                                                                    required
                                                                    value="{{positionFound.availablePositions}}">
                                                            </div>
                                                        </div>


                                                        {{!-- Position Facility --}}
                                                        <div class="row mb-3">
                                                            <label for="facility"
                                                                class="col-md-4 col-lg-4 col-form-label">Facility</label>
                                                            <div class="col-md-8 col-lg-8">
                                                                <select required name="facility" id="facilityEdit"
                                                                    class="form-select" aria-label="Facility Options">
                                                                    <option {{#if (eq positionFound.facility "El Dorado"
                                                                        ) }}selected{{/if}} value="El Dorado">El Dorado
                                                                    </option>
                                                                    <option {{#if (eq positionFound.facility "Ellsworth"
                                                                        ) }}selected{{/if}} value="Ellsworth">Ellsworth
                                                                    </option>
                                                                    <option {{#if (eq
                                                                        positionFound.facility "Hutchinson" )
                                                                        }}selected{{/if}} value="Hutchinson">Hutchinson
                                                                    </option>
                                                                    <option {{#if (eq positionFound.facility "Lansing" )
                                                                        }}selected{{/if}} value="Lansing">Lansing
                                                                    </option>
                                                                    <option {{#if (eq positionFound.facility "Larned" )
                                                                        }}selected{{/if}} value="Larned">Larned</option>
                                                                    <option {{#if (eq positionFound.facility "Norton" )
                                                                        }}selected{{/if}} value="Norton">Norton</option>
                                                                    <option {{#if (eq positionFound.facility "Topeka" )
                                                                        }}selected{{/if}} value="Topeka">Topeka</option>
                                                                    <option {{#if (eq positionFound.facility "Winfield"
                                                                        ) }}selected{{/if}} value="Winfield">Winfield
                                                                    </option>
                                                                    <option {{#if (eq positionFound.facility "Wichita" )
                                                                        }}selected{{/if}} value="Wichita">Wichita
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        {{!-- Job Pool--}}
                                                        <div class="row mb-3">
                                                            <label for="jobPool"
                                                                class="col-md-4 col-lg-4 col-form-label">Job
                                                                Pool</label>
                                                            <div class="col-md-8 col-lg-8">
                                                                <select required name="jobPool" class="form-select"
                                                                    aria-label="Job Pool">
                                                                    <option {{#if (eq
                                                                        positionFound.jobPool "Male Minimum 1 (Off-Site)"
                                                                        ) }}selected{{/if}}
                                                                        value="Male Minimum 1 (Off-Site)">
                                                                        Male
                                                                        Minimum 1
                                                                        &lpar;Off-Site&rpar;
                                                                    </option>
                                                                    <option {{#if (eq
                                                                        positionFound.jobPool "Male Minimum 2 (On-Site)"
                                                                        ) }}selected{{/if}}
                                                                        value="Male Minimum 2 (On-Site)">
                                                                        Male
                                                                        Minimum 2
                                                                        &lpar;On-Site&rpar;
                                                                    </option>
                                                                    <option {{#if (eq
                                                                        positionFound.jobPool "Male Medium/Maximum" )
                                                                        }}selected{{/if}} value="Male Medium/Maximum">
                                                                        Male
                                                                        Medium/Maximum
                                                                    </option>
                                                                    <option {{#if (eq
                                                                        positionFound.jobPool "Female Minimum 1 (Off-Site)"
                                                                        ) }}selected{{/if}}
                                                                        value="Female Minimum 1 (Off-Site)">
                                                                        Female Minimum
                                                                        1
                                                                        &lpar;Off-Site&rpar;
                                                                    </option>
                                                                    <option {{#if (eq
                                                                        positionFound.jobPool "Female Minimum 2 (On-Site)"
                                                                        ) }}selected{{/if}}
                                                                        value="Female Minimum 2 (On-Site)">
                                                                        Female Minimum
                                                                        2
                                                                        &lpar;On-Site&rpar;
                                                                    </option>
                                                                    <option {{#if (eq
                                                                        positionFound.jobPool "Female Medium/Maximum" )
                                                                        }}selected{{/if}} value="Female Medium/Maximum">
                                                                        Female
                                                                        Medium/Maximum
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                        {{!-- Save Button & Delete Buttons--}}
                                                        <hr>
                                                        <div class="d-flex justify-content-between">
                                                            <button data-bs-toggle="modal"
                                                                data-bs-target="#deletePosition" type="button"
                                                                class="btn btn-danger mx-2">Delete
                                                                Position</button>
                                                            <button type="submit" class="btn btn-primary mx-2">Save
                                                                Edit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}

{{> arrowUp}}


{{!-- MODAL FOR Delete Position --}}
<div class="modal fade" id="deletePosition" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="/employer/deletePosition/{{positionFound._id}}">
                <div class="modal-header">
                    <h5 class="modal-title text-capitalize">Delete Position: {{positionFound.position}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3 mt-3">
                        <p>Are you sure you want to delete this position?</p>
                        <p class="text-danger">This action is permanent and will delete all resident applications
                            connected to this position.</p>
                    </div>
                    <div class="modal-footer">
                        <div class="col-12 d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button id="" type="submit" class="btn btn-danger">Delete Position</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->