{{> residentTemplate}}

<main id="main" class="main">

    <div class="pagetitle">

        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Eligible Jobs -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Eligible Jobs</h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </div>
                                    {{#if user.isHired}}
                                    <div class="ps-3">
                                        <h6>0</h6>
                                    </div>
                                    {{else}}
                                    <div class="ps-3">
                                        <h6>{{countArrayItems jobs}}</h6>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div><!-- End My Jobs -->

                    <!-- My Applications Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card revenue-card">
                            <a href="/resident/applications">
                                <div class="card-body">
                                    <h5 class="card-title">My Applications</h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-card-checklist"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>{{applicationCount}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- My Resume Status Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card customers-card">
                            <a href="/resident/profile">
                                <div class="card-body">
                                    <h5 class="card-title">My Resume</h5>
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-clipboard-check"></i>
                                        </div>

                                        <div class="ps-3">
                                            {{#if user.resumeRejectionReason}}
                                            <h6 class="resumeStatus">Rejected</h6>
                                            {{else}}
                                            {{#if user.resumeIsApproved}}
                                            <h6 class="resumeStatus">Approved</h6>
                                            {{else}}
                                            {{#if user.resumeIsComplete}}
                                            <h6 class="resumeStatus">Pending</h6>
                                            {{else}}
                                            <h6 class="resumeStatus">Incomplete</h6>
                                            {{/if}}
                                            {{/if}}
                                            {{/if}}
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><!-- End Customers Card -->

                    {{#each interviews}}
                    {{#if this.interviews.date}}

                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body p-5 text-center">
                                <h3 class="text-warning mb-3">You have an interview scheduled.</h3>
                                <div>
                                    <p> Please be ready for your interview with <span
                                            class="text-capitalize text-info">{{this.companyName}}</span> at <span
                                            class="text-success">{{this.interviews.time}}</span> on <span
                                            class="text-success">{{formatDate this.interviews.date}}.</span></p>
                                    {{#if this.interviews.instructions}}
                                    <p>Additional Instructions: {{this.interviews.instructions}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}


                    <!-- All Available Jobs -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="card-body">
                                <h5 class="card-title">All Available Jobs</h5>
                                {{#if user.isHired}}
                                <p class="text-success mt-3">You are currently working as of {{formatDate
                                    user.dateHired}}.</p>
                                <p>You are not eligible to complete any applications while you are employed.</p>
                                {{else}}
                                <table class="table table-borderless table-striped datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Company</th>
                                            <th scope="col">Position</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each jobs}}
                                        <tr>
                                            <th scope="row"><a href="/resident/jobInfo/{{this._id}}">{{add @index
                                                    1}}</a></th>
                                            <td class="text-capitalize"><a
                                                    href="/resident/jobInfo/{{this._id}}">{{this.companyName}}</a></td>
                                            <td class="text-capitalize"><a href="/resident/jobInfo/{{this._id}}"
                                                    class="text-primary">{{this.position}}</a></td>
                                            <td class="text-capitalize">{{formatDate this.dateCreated}}</td>
                                            {{#if this.residentInApplicants}}
                                            <td><span class="badge bg-warning">Applied</span></td>
                                            {{else}}
                                            <td><span class="badge bg-success">Available</span></td>
                                            {{/if}}
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                {{/if}}
                            </div>

                        </div>
                    </div><!-- End Recent Sales -->

                </div>
            </div><!-- End Left side columns -->

        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Kansas Correctional Industries</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Created by <a href="#">KCI Software Solutions</a>
    </div>
</footer><!-- End Footer -->

{{> arrowUp}}