{{> residentTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">My Jobs</h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{countArrayItems employers}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Sales Card -->

                    <!-- My Applications Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">My Applications</h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-card-checklist"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{countArrayItems applications}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Revenue Card -->

                    <!-- My Resume Status Card -->
                    <div class="col-xxl-4 col-md-4">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">My Resume</h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-clipboard-check"></i>
                                    </div>
                                    <a href="/resident/profile">
                                        <div class="ps-3">
                                            {{#if user.resumeRejectionReason}}
                                            <h6 class="resumeStatus">Rejected</h6>
                                            {{else}}
                                            {{#if user.resumeIsApproved}}
                                            <h6 class="resumeStatus">Approved</h6>
                                            {{else}}
                                            {{#if user.resumeIsComplete}}
                                            <h6 class="resumeStatus">Pending</h6>
                                            {{else}}
                                            <h6 class="resumeStatus">Incomplete</h6>
                                            {{/if}}
                                            {{/if}}
                                            {{/if}}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Customers Card -->


                    <!-- All Available Jobs -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                            <div class="card-body">
                                <h5 class="card-title">All Available Jobs</h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Employer</th>
                                            <th scope="col">Position</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each employers}}
                                        <tr>
                                            <th scope="row"><a
                                                    href="/jobInfo/{{../user.residentID}}/{{this.jobs._id}}">{{add
                                                    @index 1}}</a></th>
                                            <td class="text-capitalize">{{this.companyName}}</td>
                                            <td class="text-capitalize"><a
                                                    href="/jobInfo/{{../user.residentID}}/{{this.jobs._id}}"
                                                    class="text-primary">{{this.jobs.position}}</a></td>
                                            <td class="text-capitalize">{{formatDate this.resume.dateCreated}}</td>
                                            <td><span class="badge bg-success">Eligible</span></td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->

                </div>
            </div><!-- End Left side columns -->

        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Kansas Correctional Industries</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Created by <a href="#">KCI Software Solutions</a>
    </div>
</footer><!-- End Footer -->

{{> arrowUp}}