{{> residentTemplate}}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Position Info</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/resident/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Position Info</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="/assets/img/employer.png" alt="Profile" class="rounded-circle">
                        <h2 class="text-capitalize">{{
                            position.companyName}}</h2>
                        <h3 class="text-capitalize mt-3">{{
                            position.position}}</h3>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-edit">Apply</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                {{#if saveMsg}}
                                <span class="fst-italic text-success">Your application has been sent to Unit
                                    Team for approval.</span>
                                {{/if}}
                                <h5 class="card-title">Position Info</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Company</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{position.companyName}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Facility</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{position.facility}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Position</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{position.position}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Hourly Pay</div>
                                    <div class="col-lg-9 col-md-8">${{position.pay}} /hr</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Description</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{position.description}}</div>
                                </div>
                            </div>

                            <!--==================== Application  Form ===========================-->
                            {{#if residentHasApplied}}
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <p class=" text-success text-center">You have already applied for this
                                    position.</p>
                            </div>
                            {{else}}
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Application Form -->
                                <form method="POST" action="/resident/saveApplication/{{position._id}}">

                                    <div class="row p-3">
                                        <p>You are eligible to apply for this position.</p>
                                        <p>When you apply, your resume will be sent to the employer and to Unit Team for
                                            processing. Please be patient during this process. You will be notified of
                                            their decision once the hiring round has been completed.</p>
                                    </div>


                                    {{!-- Application Submit Button --}}
                                    <hr>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Apply For Position</button>
                                    </div>
                                </form><!--  Application Form -->
                            </div>
                            {{/if}}
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}
{{> arrowUp}}