{{> residentTemplate}}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Job Information</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/resident/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Job Information</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="/assets/img/employer.png" alt="Profile" class="rounded-circle">
                        <h2 class="text-capitalize">{{
                            employer.companyName}}</h2>
                        <h3 class="text-capitalize mt-3">{{
                            employer.jobs.position}}</h3>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-edit">Application</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                {{#if saveMsg}}
                                <span class="fst-italic text-success">Your application has been sent to Unit
                                    Team for approval.</span>
                                {{/if}}
                                <h5 class="card-title">Position Info</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Company</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{employer.companyName}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Facility</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{employer.facility}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Position</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{employer.jobs.position}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Hourly Pay</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{employer.jobs.pay}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Description</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{employer.jobs.description}}</div>
                                </div>
                            </div>

                            <!--==================== Application  Form ===========================-->
                            {{#if residentHasApplied}}
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <p class="small fst-italic text-success text-center">You have already applied for this
                                    position.</p>
                                <!-- Profile Edit Form -->
                                <form method="POST" action="/saveApplication/{{user.residentID}}/{{employer.jobs._id}}">
                                    {{!-- Resident First Name --}}
                                    <div class="row mb-3">
                                        <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="firstName" type="text" class="form-control text-capitalize"
                                                id="firstName" value="{{user.firstName}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Last Name --}}
                                    <div class="row mb-3">
                                        <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="lastName" type="text" class="form-control text-capitalize"
                                                id="lastName" value="{{user.lastName}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident ID --}}
                                    <div class="row mb-3">
                                        <label for="residentID" class="col-md-4 col-lg-3 col-form-label">Resident
                                            ID</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="residentID" type="text" class="form-control text-capitalize"
                                                id="residentID" value="{{user.residentID}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Custody Level --}}
                                    <div class="row mb-3">
                                        <label for="custodyLevel" class="col-md-4 col-lg-3 col-form-label">Custody
                                            Level</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="custodyLevel" type="text" class="form-control text-capitalize"
                                                id="custodyLevel" value="{{user.custodyLevel}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- facility --}}
                                    <div class="row mb-3">
                                        <label for="facility" class="col-md-4 col-lg-3 col-form-label">Facility</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facility" type="text" class="form-control text-capitalize"
                                                id="facility" value="{{user.facility}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- work history input --}}
                                    <div class="row mb-3">
                                        <label for="workHistory" class="col-md-4 col-lg-3 col-form-label">Relevant
                                            Experience</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="workHistory" class="form-control" id="workHistory"
                                                style="height: 100px"
                                                disabled>{{residentHasApplied.workHistory}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- Certifications & Licenses input --}}
                                    <div class="row mb-3">
                                        <label for="certifications"
                                            class="col-md-4 col-lg-3 col-form-label">Certifications
                                            &amp;
                                            Licenses</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="certifications" class="form-control" id="certifications"
                                                style="height: 100px"
                                                disabled>{{residentHasApplied.certifications}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- GED or diploma option --}}
                                    <div class="row mb-3">
                                        <label for="hsGraduate" class=" col-form-label">GED or High
                                            School Diploma</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate1" value="true" checked>
                                                <label class="form-check-label" for="hsGraduate1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate2" value="false">
                                                <label class="form-check-label" for="hsGraduate2">
                                                    No
                                                </label>
                                            </div>
                                        </div>

                                        <label for="hsGraduate" class="col-md-4 col-lg-3 col-form-label">GED or High
                                            School Diploma</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facility" type="text" class="form-control text-capitalize"
                                                id="facility" value="{{user.facility}}" disabled>
                                        </div>
                                    </div>
                                </form><!-- End application Form -->
                            </div>
                            {{else}}
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <p class="small fst-italic text-info text-center">You may only submit this
                                    application one time. You cannot save your progress if it is left unsubmitted.</p>
                                <!-- Profile Edit Form -->
                                <form method="POST" action="/saveApplication/{{user.residentID}}/{{employer.jobs._id}}">
                                    {{!-- Resident First Name --}}
                                    <div class="row mb-3">
                                        <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="firstName" type="text" class="form-control text-capitalize"
                                                id="firstName" value="{{user.firstName}}" readonly>
                                        </div>
                                    </div>
                                    {{!-- Resident Last Name --}}
                                    <div class="row mb-3">
                                        <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="lastName" type="text" class="form-control text-capitalize"
                                                id="lastName" value="{{user.lastName}}" readonly>
                                        </div>
                                    </div>
                                    {{!-- Resident ID --}}
                                    <div class="row mb-3">
                                        <label for="residentID" class="col-md-4 col-lg-3 col-form-label">Resident
                                            ID</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="residentID" type="text" class="form-control text-capitalize"
                                                id="residentID" value="{{user.residentID}}" readonly>
                                        </div>
                                    </div>
                                    {{!-- Resident Custody Level --}}
                                    <div class="row mb-3">
                                        <label for="custodyLevel" class="col-md-4 col-lg-3 col-form-label">Custody
                                            Level</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="custodyLevel" type="text" class="form-control text-capitalize"
                                                id="custodyLevel" value="{{user.custodyLevel}}" readonly>
                                        </div>
                                    </div>
                                    {{!-- facility --}}
                                    <div class="row mb-3">
                                        <label for="facility" class="col-md-4 col-lg-3 col-form-label">Facility</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facility" type="text" class="form-control text-capitalize"
                                                id="facility" value="{{user.facility}}" readonly>
                                        </div>
                                    </div>
                                    {{!-- work history input --}}
                                    <div class="row mb-3">
                                        <label for="workHistory" class="col-md-4 col-lg-3 col-form-label">Relevant
                                            Experience</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="workHistory" class="form-control" id="workHistory"
                                                style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    {{!-- Certifications & Licenses input --}}
                                    <div class="row mb-3">
                                        <label for="certifications"
                                            class="col-md-4 col-lg-3 col-form-label">Certifications
                                            &amp;
                                            Licenses</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="certifications" class="form-control" id="certifications"
                                                style="height: 100px"></textarea>
                                        </div>
                                    </div>

                                    {{!-- GED or diploma option --}}
                                    <div class="row mb-3">
                                        <label for="hsGraduate" class=" col-form-label">GED or High
                                            School Diploma</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate1" value="true" checked>
                                                <label class="form-check-label" for="hsGraduate1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate2" value="false">
                                                <label class="form-check-label" for="hsGraduate2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    {{!-- Resume Submit Button --}}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->
                            </div>
                            {{/if}}
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}
{{> arrowUp}}