{{> residentTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>My Resume</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/resident/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">My Resume</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="/assets/img/avatar.png" alt="Profile" class="rounded-circle">
                        <h2 class="text-capitalize">{{user.firstName}} {{user.lastName}}</h2>
                        <h2 class="text-capitalize mb-3">#{{user.residentID}}</h2>
                        <h3>KDOC Resident</h3>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">My
                                    Resume</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview pt-3" id="profile-overview">
                                {{#if user.resumeIsComplete}}
                                {{#unless user.resumeIsApproved}}
                                <p class="text-primary text-center">Your resume has been sent to Unit Team for
                                    approval.
                                </p>
                                {{/unless}}
                                {{/if}}
                                {{#if user.resumeIsComplete}}
                                {{#if user.resumeIsApproved}}
                                <p class="text-success text-center">Your resume has been approved by Unit Team.</p>
                                {{/if}}
                                {{/if}}

                                <h5 class="card-title">Resident Information</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{user.firstName}}
                                        {{user.lastName}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Resident ID</div>
                                    <div class="col-lg-9 col-md-8">{{user.residentID}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Facility</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{user.facility}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Custody Level</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{user.custodyLevel}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Out Date</div>
                                    <div class="col-lg-9 col-md-8 text-capitalize">{{formatDate user.outDate}}</div>
                                </div>
                            </div>

                            {{#if user.resumeIsComplete}}
                            <!--========= Resume Completed Form ============-->
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                {{#if user.resumeIsApproved}}
                                <p class="text-success text-center">Your resume has been approved by Unit Team.</p>
                                {{else}}
                                <p class="text-primary text-center">Your resume is pending approval.</p>
                                {{/if}}
                                <form>
                                    {{!-- Resident First Name --}}
                                    <div class="row mb-3">
                                        <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="firstName" type="text" class="form-control text-capitalize"
                                                id="firstName" value="{{user.firstName}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Last Name --}}
                                    <div class="row mb-3">
                                        <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="lastName" type="text" class="form-control text-capitalize"
                                                id="lastName" value="{{user.lastName}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident ID --}}
                                    <div class="row mb-3">
                                        <label for="residentID" class="col-md-4 col-lg-3 col-form-label">Resident
                                            ID</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="residentID" type="text" class="form-control text-capitalize"
                                                id="residentID" value="{{user.residentID}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Custody Level --}}
                                    <div class="row mb-3">
                                        <label for="custodyLevel" class="col-md-4 col-lg-3 col-form-label">Custody
                                            Level</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="custodyLevel" type="text" class="form-control text-capitalize"
                                                id="custodyLevel" value="{{user.custodyLevel}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Facility --}}
                                    <div class="row mb-3">
                                        <label for="facility" class="col-md-4 col-lg-3 col-form-label">Facility</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facility" type="text" class="form-control text-capitalize"
                                                id="facility" value="{{user.facility}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Unit Team Assigned --}}
                                    <div class="row mb-3">
                                        <label for="unitTeam" class="col-md-4 col-lg-3 col-form-label">Unit Team</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="unitTeam" type="text" class="form-control text-capitalize"
                                                id="unitTeam" value="{{user.unitTeam}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- work history input --}}
                                    <div class="row mb-3">
                                        <label for="workHistory" class="col-md-4 col-lg-3 col-form-label">Work
                                            History</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="workHistory" class="form-control" id="workHistory"
                                                style="height: 100px" disabled>{{user.resume.workHistory}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- Certifications & Licenses input --}}
                                    <div class="row mb-3">
                                        <label for="certifications"
                                            class="col-md-4 col-lg-3 col-form-label">Certifications &amp;
                                            Licenses</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="certifications" class="form-control" id="certifications"
                                                style="height: 100px" disabled>{{user.resume.certifications}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- Higher Education --}}
                                    <div class="row mb-3">
                                        <label for="education" class="col-md-4 col-lg-3 col-form-label">Higher
                                            Education</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="education" class="form-control" id="education"
                                                style="height: 100px" disabled>{{user.resume.education}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- Relevant Skills --}}
                                    <div class="row mb-3">
                                        <label for="skills" class="col-md-4 col-lg-3 col-form-label">Relevant Skills
                                            &amp;
                                            Experience</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="skills" class="form-control" id="skills"
                                                style="height: 100px" disabled>{{user.resume.skills}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- US Citizen options --}}
                                    <div class="row mb-3">
                                        <label for="legalCitizen" class="col-md-4 col-lg-3 col-form-label">U.S.
                                            Citizen</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="legalCitizen"
                                                    id="legalCitizen1" value="true" {{#if user.resume.legalCitizen}}
                                                    checked{{/if}} disabled>
                                                <label class="form-check-label" for="legalCitizen1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="legalCitizen"
                                                    id="legalCitizen2" value="false" {{#if (eq user.resume.legalCitizen
                                                    false)}}checked{{/if}} disabled>
                                                <label class="form-check-label" for="legalCitizen2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- GED or diploma option --}}
                                    <div class="row mb-3">
                                        <label for="hsGraduate" class=" col-form-label">GED or High
                                            School Diploma</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate1" value="true" {{#if user.resume.hsGraduate}}
                                                    checked{{/if}} disabled>
                                                <label class="form-check-label" for="hsGraduate1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate2" value="false" {{#if (eq user.resume.hsGraduate
                                                    false)}}checked{{/if}} disabled>
                                                <label class="form-check-label" for="hsGraduate2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- Social Security card radio option --}}
                                    <div class="row mb-3">
                                        <label for="sscard" class=" col-form-label">Social Security Card on
                                            file?</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sscard" id="sscard1"
                                                    value="true" {{#if user.resume.sscard}} checked{{/if}} disabled>
                                                <label class="form-check-label" for="sscard1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sscard" id="sscard2"
                                                    value="false" {{#if (eq user.resume.sscard false)}}checked{{/if}}
                                                    disabled>
                                                <label class="form-check-label" for="sscard2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- birth certificate radio option --}}
                                    <div class="row mb-3">
                                        <label for="birthCertificate" class=" col-form-label">Birth Certificate on
                                            file?</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="birthCertificate"
                                                    id="birthCertificate1" value="true" {{#if
                                                    user.resume.birthCertificate}} checked{{/if}} disabled>
                                                <label class="form-check-label" for="birthCertificate1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="birthCertificate"
                                                    id="birthCertificate2" value="false" {{#if (eq
                                                    user.resume.birthCertificate false)}}checked{{/if}} disabled>
                                                <label class="form-check-label" for="birthCertificate2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            {{else}}
                            {{#if user.resumeRejectionReason}}

                            {{!--========= Rejected Resume Form ==============--}}
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <p class="text-danger text-center">Your resume has been rejected by Unit Team for
                                    being {{user.resumeRejectionReason}}.</p>
                                <p class="text-primary text-center mb-3">Please review your answers and correct them
                                    accordingly.</p>
                                <hr>
                                <form method="POST" action="/resident/saveResume">
                                    {{!-- Resident First Name --}}
                                    <div class="row mb-3">
                                        <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="firstName" type="text" class="form-control text-capitalize"
                                                id="firstName" value="{{user.firstName}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Last Name --}}
                                    <div class="row mb-3">
                                        <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="lastName" type="text" class="form-control text-capitalize"
                                                id="lastName" value="{{user.lastName}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident ID --}}
                                    <div class="row mb-3">
                                        <label for="residentID" class="col-md-4 col-lg-3 col-form-label">Resident
                                            ID</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="residentID" type="text" class="form-control text-capitalize"
                                                id="residentID" value="{{user.residentID}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Custody Level --}}
                                    <div class="row mb-3">
                                        <label for="custodyLevel" class="col-md-4 col-lg-3 col-form-label">Custody
                                            Level</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="custodyLevel" type="text" class="form-control text-capitalize"
                                                id="custodyLevel" value="{{user.custodyLevel}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Facility --}}
                                    <div class="row mb-3">
                                        <label for="facility" class="col-md-4 col-lg-3 col-form-label">Facility</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facility" type="text" class="form-control text-capitalize"
                                                id="facility" value="{{user.facility}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- UTM Select Box --}}
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Unit Team</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select name="unitTeam" class="form-select text-capitalize"
                                                aria-label="unit team" required>
                                                <option selected value="">Choose Unit Team Member</option>
                                                {{#each unitTeam}}
                                                <option value="{{this.email}}" class="text-capitalize">
                                                    {{this.firstName}} {{this.lastName}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    {{!-- Work history input --}}
                                    <div class="row mb-3">
                                        <label for="workHistory" class="col-md-4 col-lg-3 col-form-label">Work
                                            History</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea required name="workHistory" class="form-control" id="workHistory"
                                                style="height: 100px">{{user.resume.workHistory}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- Certifications & Licenses input --}}
                                    <div class="row mb-3">
                                        <label for="certifications"
                                            class="col-md-4 col-lg-3 col-form-label">Certifications
                                            &amp;
                                            Licenses</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea required name="certifications" class="form-control"
                                                id="certifications"
                                                style="height: 100px">{{user.resume.certifications}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- Higher Education --}}
                                    <div class="row mb-3">
                                        <label for="education" class="col-md-4 col-lg-3 col-form-label">Higher
                                            Education</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea required name="education" class="form-control" id="education"
                                                style="height: 100px">{{user.resume.education}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- Relevant Skills --}}
                                    <div class="row mb-3">
                                        <label for="skills" class="col-md-4 col-lg-3 col-form-label">Relevant Skills
                                            &amp;
                                            Experience</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea required name="skills" class="form-control" id="skills"
                                                style="height: 100px">{{user.resume.skills}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- Completed programs --}}
                                    <div class="row mb-3">
                                        <label for="programs" class="col-md-4 col-lg-3 col-form-label">Completed
                                            Programs</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea required name="programs" class="form-control" id="programs"
                                                style="height: 100px">{{user.resume.programs}}</textarea>
                                        </div>
                                    </div>
                                    {{!-- US Citizen options --}}
                                    <div class="row mb-3">
                                        <label for="legalCitizen" class="col-md-4 col-lg-3 col-form-label">U.S.
                                            Citizen</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="legalCitizen"
                                                    id="legalCitizen1" value="true" {{#if user.resume.legalCitizen}}
                                                    checked{{/if}}>
                                                <label class="form-check-label" for="legalCitizen1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="legalCitizen"
                                                    id="legalCitizen2" value="false" {{#if (eq user.resume.legalCitizen
                                                    false)}}checked{{/if}}>
                                                <label class="form-check-label" for="legalCitizen2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- GED or diploma option --}}
                                    <div class="row mb-3">
                                        <label for="hsGraduate" class=" col-form-label">GED or High
                                            School Diploma</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate1" value="true" {{#if user.resume.hsGraduate}}
                                                    checked{{/if}}>
                                                <label class="form-check-label" for="hsGraduate1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate2" value="false" {{#if (eq user.resume.hsGraduate
                                                    false)}}checked{{/if}}>
                                                <label class="form-check-label" for="hsGraduate2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- Social Security card radio option --}}
                                    <div class="row mb-3">
                                        <label for="sscard" class=" col-form-label">Social Security Card on
                                            file?</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sscard" id="sscard1"
                                                    value="true" {{#if user.resume.sscard}} checked{{/if}}>
                                                <label class="form-check-label" for="sscard1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sscard" id="sscard2"
                                                    value="false" {{#if (eq user.resume.sscard false)}}checked{{/if}}>
                                                <label class="form-check-label" for="sscard2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- birth certificate radio option --}}
                                    <div class="row mb-3">
                                        <label for="birthCertificate" class=" col-form-label">Birth Certificate on
                                            file?</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="birthCertificate"
                                                    id="birthCertificate1" value="true" {{#if
                                                    user.resume.birthCertificate}} checked{{/if}}>
                                                <label class="form-check-label" for="birthCertificate1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="birthCertificate"
                                                    id="birthCertificate2" value="false" {{#if (eq
                                                    user.resume.birthCertificate false)}}checked{{/if}}>
                                                <label class="form-check-label" for="birthCertificate2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- Edit Resume Submit Button --}}
                                    <hr class="mb-3">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Submit Resume</button>
                                    </div>
                                </form>
                            </div>

                            {{else}}
                            {{!--============= Resume Form ===========================--}}
                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <p class="small text-info text-center">You may only submit your resume one
                                    time. You cannot save your progress.</p>
                                <!-- Profile Resume Form -->
                                <form method="POST" action="/resident/saveResume">
                                    {{!-- Resident First Name --}}
                                    <div class="row mb-3">
                                        <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="firstName" type="text" class="form-control text-capitalize"
                                                id="firstName" value="{{user.firstName}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Last Name --}}
                                    <div class="row mb-3">
                                        <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="lastName" type="text" class="form-control text-capitalize"
                                                id="lastName" value="{{user.lastName}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident ID --}}
                                    <div class="row mb-3">
                                        <label for="residentID" class="col-md-4 col-lg-3 col-form-label">Resident
                                            ID</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="residentID" type="text" class="form-control text-capitalize"
                                                id="residentID" value="{{user.residentID}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Custody Level --}}
                                    <div class="row mb-3">
                                        <label for="custodyLevel" class="col-md-4 col-lg-3 col-form-label">Custody
                                            Level</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="custodyLevel" type="text" class="form-control text-capitalize"
                                                id="custodyLevel" value="{{user.custodyLevel}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- Resident Facility --}}
                                    <div class="row mb-3">
                                        <label for="facility" class="col-md-4 col-lg-3 col-form-label">Facility</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facility" type="text" class="form-control text-capitalize"
                                                id="facility" value="{{user.facility}}" disabled>
                                        </div>
                                    </div>
                                    {{!-- UTM Select Box --}}
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">Unit Team</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select name="unitTeam" class="form-select text-capitalize"
                                                aria-label="unit team" required>
                                                <option selected value="">Choose Unit Team Member</option>
                                                {{#each unitTeam}}
                                                <option value="{{this.email}}" class="text-capitalize">
                                                    {{this.firstName}} {{this.lastName}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    {{!-- work history input --}}
                                    <div class="row mb-3">
                                        <label for="workHistory" class="col-md-4 col-lg-3 col-form-label">Work
                                            History</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea placeholder="Enter N/A if none." required name="workHistory"
                                                class="form-control" id="workHistory" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    {{!-- Certifications & Licenses input --}}
                                    <div class="row mb-3">
                                        <label for="certifications"
                                            class="col-md-4 col-lg-3 col-form-label">Certifications
                                            &amp;
                                            Licenses</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea placeholder="Enter N/A if none." required name="certifications"
                                                class="form-control" id="certifications"
                                                style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    {{!-- Higher Education --}}
                                    <div class="row mb-3">
                                        <label for="education" class="col-md-4 col-lg-3 col-form-label">Higher
                                            Education</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea placeholder="Enter N/A if none." required name="education"
                                                class="form-control" id="education" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    {{!-- Relevant Skills --}}
                                    <div class="row mb-3">
                                        <label for="skills" class="col-md-4 col-lg-3 col-form-label">Relevant Skills
                                            &amp;
                                            Experience</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea placeholder="Enter N/A if none." required name="skills"
                                                class="form-control" id="skills" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    {{!-- Completed programs --}}
                                    <div class="row mb-3">
                                        <label for="programs" class="col-md-4 col-lg-3 col-form-label">Completed
                                            Programs</label>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea placeholder="Enter N/A if none." required name="programs"
                                                class="form-control" id="programs" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                    {{!-- US Citizen options --}}
                                    <div class="row mb-3">
                                        <label for="legalCitizen" class="col-md-4 col-lg-3 col-form-label">U.S.
                                            Citizen</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="legalCitizen"
                                                    id="legalCitizen1" value="true" checked>
                                                <label class="form-check-label" for="legalCitizen1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="legalCitizen"
                                                    id="legalCitizen2" value="false">
                                                <label class="form-check-label" for="legalCitizen2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- GED or diploma option --}}
                                    <div class="row mb-3">
                                        <label for="hsGraduate" class=" col-form-label">GED or High
                                            School Diploma</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate1" value="true" checked>
                                                <label class="form-check-label" for="hsGraduate1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="hsGraduate"
                                                    id="hsGraduate2" value="false">
                                                <label class="form-check-label" for="hsGraduate2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- Social Security card radio option --}}
                                    <div class="row mb-3">
                                        <label for="sscard" class=" col-form-label">Social Security Card on
                                            file?</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sscard" id="sscard1"
                                                    value="true" checked>
                                                <label class="form-check-label" for="sscard1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sscard" id="sscard2"
                                                    value="false">
                                                <label class="form-check-label" for="sscard2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- birth certificate radio option --}}
                                    <div class="row mb-3">
                                        <label for="birthCertificate" class=" col-form-label">Birth Certificate on
                                            file?</label>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="birthCertificate"
                                                    id="birthCertificate1" value="true" checked>
                                                <label class="form-check-label" for="birthCertificate1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="birthCertificate"
                                                    id="birthCertificate2" value="false">
                                                <label class="form-check-label" for="birthCertificate2">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- Resume Submit Button --}}
                                    <hr class="mb-3">
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Submit Resume</button>
                                    </div>
                                </form>
                                {{/if}}
                                {{/if}}

                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}
{{> arrowUp}}