{{> facility_managementTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-capitalize">{{user.facility}} Residents</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/facility_management/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Resident Data</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">All Applicants <span>| Eligible Hires</span></h5>
                                <table class="table table-borderless table-striped datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID #</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Out Date</th>
                                            <th scope="col">Custody</th>
                                            <th scope="col">Company</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each applicants}}
                                            <tr>
                                                <th scope="row"><a
                                                        href="/shared/residentProfile/{{this.residentID}}">{{this.residentID}}</a>
                                                </th>
                                                <td class="text-capitalize"><a
                                                        href="/shared/residentProfile/{{this.residentID}}">
                                                        {{this.firstName}} {{this.lastName}}</a></td>
                                                <td class="text-capitalize"><a
                                                        href="/shared/residentProfile/{{this.residentID}}">
                                                        {{formatDate this.outDate}}</a></td>

                                                <td class="text-capitalize"><a
                                                        href="/shared/residentProfile/{{this.residentID}}">{{this.custodyLevel}}</a>
                                                </td>
                                                <td class="text-capitalize">{{this.companyName}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


{{> footer}}
{{> arrowUp}}