{{> unitTeamTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-capitalize">{{user.facility}} Residents</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/unitTeam/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">Resident Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">

                    <!-- Residents Table -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title text-capitalize">All Residents <span>| {{user.facility}}</span>
                                </h5>
                                <table class="table table-borderless table-striped datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID #</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Unit Team</th>
                                            <th scope="col">Resume</th>
                                            <th scope="col">Work Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each caseLoad}}
                                            <tr>
                                                <th scope="row"><a
                                                        href="/clearance/residentProfile/{{this.residentID}}">{{this.residentID}}</a>
                                                </th>

                                                <td class="text-capitalize"><a
                                                        href="/clearance/residentProfile/{{this.residentID}}">
                                                        {{this.lastName}}, {{this.firstName}}</a></td>
                                                {{!-- Unit Team Conditional --}}
                                                {{#if this.unitTeam}}
                                                    <td class="text-capitalize">{{this.unitTeam}}</td>
                                                {{else}}
                                                    <td class="text-capitalize text-primary">Not Assigned</td>
                                                {{/if}}

                                                {{!-- Resume Status --}}
                                                {{#if (eq this.resume.status "approved")}}
                                                    <td><span class="badge bg-success">Approved</span></td>
                                                {{/if}}

                                                {{#if (eq this.resume.status "rejected")}}
                                                    <td><span class="badge bg-danger">Rejected</span></td>
                                                {{/if}}
                                                {{#if (eq this.resume.status "pending")}}
                                                    <td><span class="badge bg-warning">Pending</span></td>
                                                {{/if}}
                                                {{#if (eq this.resume.status "incomplete")}}
                                                    <td><span class="badge bg-secondary">None</span></td>
                                                {{/if}}

                                                {{!-- work status --}}
                                                {{#if this.isHired}}
                                                    <td><span class="badge bg-info">Hired</span></td>
                                                {{else}}
                                                    {{#if (eq this.workEligibility.status "approved")}}
                                                        <td><span class="badge bg-success">Approved</span></td>
                                                    {{else}}
                                                        {{#if (eq this.workEligibility.status "restricted")}}
                                                            <td><span class="badge bg-danger">Restricted</span></td>
                                                        {{else}}
                                                            {{#if (eq this.workEligibility.status "pending")}}
                                                                <td><span class="badge bg-warning">Pending</span></td>
                                                            {{else}}
                                                                <td><span class="badge bg-secondary">None</span></td>
                                                            {{/if}}
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}

                                            </tr>

                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}

{{> arrowUp}}