{{> classificationTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-capitalize">{{company.companyName}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="classification/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">PI Partner Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="/assets/img/employer.png" alt="{{company.companyName}}" class="rounded-circle">
                        <h2 class="text-capitalize mb-3">{{company.companyName}}</h2>
                        <h3>KCI PI Partner</h3>

                    </div>
                </div>
            </div>

            <div class="col-12">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'overview')}}active{{/if}}"
                                    data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'positions')}}active{{/if}}"
                                    data-bs-toggle="tab" data-bs-target="#all-position">Positions</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link {{#if (eq activeTab 'addPosition')}}active{{/if}}"
                                    data-bs-toggle="tab" data-bs-target="#add-position">Add Position</button>
                            </li>
                        </ul>

                        <div class="tab-content pt-2">
                            {{!-- Overview Tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'overview')}}show active{{/if}} profile-overview pt-3"
                                id="profile-overview">
                                <div class="card">
                                    <div class="card-body pt-3">
                                        <h5 class="card-title">PI Partner Information</h5>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 label">Company</div>
                                            <div class="col-lg-8 col-md-8 text-capitalize">{{company.companyName}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 label">Facility</div>
                                            <div class="col-lg-8 col-md-8 text-capitalize">{{company.facility}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{!-- Positions tab --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'positions')}}show active{{/if}} all-position pt-3"
                                id="all-position">
                                <!-- Positions Table -->
                                <div class="col-12">
                                    <div class="card recent-sales overflow-auto">
                                        <div class="card-body">
                                            <h5 class="card-title">Positions <span>| All Positions</span></h5>
                                            <table class="table table-borderless table-striped datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Pay</th>
                                                        <th scope="col">Job Pool</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each positions}}
                                                        <tr>
                                                            <th scope="row">{{add @index 1}} </th>
                                                            <td class="text-capitalize">{{this.position}}</td>
                                                            <td class="text-capitalize">{{formatDate this.dateCreated}}
                                                            </td>
                                                            <td>${{this.pay}}
                                                            </td>
                                                            <td class="text-capitalize">{{this.jobPool}}</td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {{!-- Add Position TAB --}}
                            <div class="tab-pane fade {{#if (eq activeTab 'add')}}show active{{/if}} add-position pt-3"
                                id="add-position">
                                <form method="POST" action="/classification/addNewPosition">

                                    {{!-- Position Title --}}
                                    <div class="row mb-3">
                                        <label for="position" class="col-md-4 col-lg-4 col-form-label">Position
                                            Title</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="position" type="text" class="form-control text-capitalize"
                                                id="position" required>
                                        </div>
                                    </div>
                                    {{!-- Description --}}
                                    <div class="row mb-3">
                                        <label for="description"
                                            class="col-md-4 col-lg-4 col-form-label">Description</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="description" type="text" class="form-control text-capitalize"
                                                id="description" required>
                                        </div>
                                    </div>
                                    {{!-- Hourly Pay --}}
                                    <div class="row mb-3">
                                        <label for="pay" class="col-md-4 col-lg-4 col-form-label">Hourly Pay</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="pay" min="0" placeholder="per hour" type="number"
                                                class="form-control text-capitalize" id="pay" required>
                                        </div>
                                    </div>
                                    {{!-- Positions Available --}}
                                    <div class="row mb-3">
                                        <label for="availablePositions"
                                            class="col-md-4 col-lg-4 col-form-label">Positions Available</label>
                                        <div class="col-md-8 col-lg-8">
                                            <input name="availablePositions" type="number" min="0" class="form-control"
                                                id="availablePositions" required>
                                        </div>
                                    </div>
                                    {{!-- Position Facility --}}
                                    <div class="row mb-3">
                                        <label for="facility" class="col-md-4 col-lg-4 col-form-label">Facility</label>
                                        <div class="col-md-8 col-lg-8">
                                            <select required name="facility" id="facility" class="form-select"
                                                aria-label="Facility Options">
                                                <option selected value="">Select Facility:
                                                </option>
                                                <option value="El Dorado">El Dorado</option>
                                                <option value="Ellsworth">Ellsworth</option>
                                                <option value="Hutchinson">Hutchinson</option>
                                                <option value="Lansing">Lansing</option>
                                                <option value="Larned">Larned</option>
                                                <option value="Norton">Norton</option>
                                                <option value="Topeka">Topeka</option>
                                                <option value="Winfield">Winfield</option>
                                                <option value="Wichita">Wichita</option>
                                            </select>
                                        </div>
                                    </div>

                                    {{!-- Job Pool--}}
                                    <div class="row mb-3">
                                        <label for="jobPool" class="col-md-4 col-lg-4 col-form-label">Job Pool</label>
                                        <div class="col-md-8 col-lg-8">
                                            <select required name="jobPool" class="form-select" aria-label="Job Pool">
                                                <option value="">Select Job Pool</option>
                                                <option value="Male Minimum 1 (Off-Site)">Male Minimum 1
                                                    &lpar;Off-Site&rpar;</option>
                                                <option value="Male Minimum 2 (On-Site)">Male Minimum 2
                                                    &lpar;On-Site&rpar;</option>
                                                <option value="Male Medium/Maximum">Male Medium/Maximum</option>
                                                <option value="Female Minimum 1 (Off-Site)">Female Minimum 1
                                                    &lpar;Off-Site&rpar;</option>
                                                <option value="Female Minimum 2 (On-Site)">Female Minimum 2
                                                    &lpar;On-Site&rpar;</option>
                                                <option value="Female Medium/Maximum">Female Medium/Maximum</option>
                                            </select>

                                        </div>
                                    </div>
                                    <input type="hidden" name="companyID" value="{{company._id}}">
                                    <input type="hidden" name="companyName" value="{{company.companyName}}">
                                    {{!-- Save Button --}}
                                    <hr>
                                    <div class="text-end mt-3">
                                        <button type="submit" class="btn btn-primary mx-2">Add Position</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{> footer}}

{{> arrowUp}}