{{> adminTemplate}}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>PI Partners Roster</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">PI Partners Roster</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">PI Partners<span>| All Companies</span></h5>
                                <table class="table table-borderless table-striped datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Facility</th>
                                            <th scope="col">Company</th>
                                            <th scope="col">Status</th>
                                            <th scope="col"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each companies}}
                                            <tr>
                                                <th scope="row"><a href="/admin/companyProfile/{{this._id}}">{{add
                                                    @index 1}}</a>
                                                </th>
                                                <td class="text-capitalize">{{this.facility}}</td>
                                                <td class="text-capitalize"><a
                                                        href="/admin/companyProfile/{{this._id}}">
                                                        {{this.companyName}}</a>
                                                </td>
                                                <td><span class="badge bg-success">Active</span></td>
                                                <td></td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{> footer}}
{{> arrowUp}}